<h1>Création d'un compte</h1>

<form [formGroup]="form">
    
    <label for="accountName">
        Nom de compte:
        <input type="text" name="accountName" id="accountName" formControlName="accountName">
        @if (accountName.touched && accountName.invalid) {
            @if (accountName.hasError('required')) {
                <p class="error">Le champ est requis</p>
            }

            @else if (accountName.hasError('minlength')) {
                <p class="error">Le champ doit faire minimum 3 caractères</p>
            }

            @else {
                <p class="error">Le champ doit faire maximum 256 caractères</p>
            }
        }
    </label>
    
    <label for="email">
        Email:
        <input type="email" name="email" id="email" autocomplete="email" formControlName="email">
    </label>

    <div>
        <p>Chiffre: </p>
        <p>Minuscule: </p>
        <p>Majuscule: </p>
        <p>Spécial: </p>
    </div>

    <label for="password">
        Mot de passe:
        <input type="password" name="password" id="password" formControlName="password">

        @if (password.touched && password.invalid) {
            @if (password.hasError('required')) {
                <p class="error">Le champ est requis</p>
            }
            
            @else if (password.hasError('minlength')) {
                <p class="error">Le champ doit faire minimum 3 caractères</p>
            }

            @else if (password.hasError ('maxlength')){
                <p class="error">Le champ doit faire maximum 256 caractères</p>
            }
        }
    </label>

    <button>
        Créer un compte:
    </button>
</form>

<p>Dejà inscrit ? <a routerLink="/login">Se connecter</a></p> 