<br>

<div class="taskContainer">

    <h1>Mes tâches</h1>

    <div class="input-container">
        <input type="text" placeholder="Title" [(ngModel)]="titleInput">
        <input type="text" placeholder="Description" [(ngModel)]="descInput">
        <select [(ngModel)]="priorityInput">
            <option [value]="undefined" [defaultSelected]="true"></option>
            @for (p of TaskPriority | keyvalue; track p.key) {
                <option [value]="p.key">{{p.value | titlecase}}</option>
            }
        </select>
        <input type="text" placeholder="ImageUrl" [(ngModel)]="imageUrl">
        <button (click)="addTask()">Ajouter</button>
    </div>

    @for (task of myTasks(); track task.id) {

        <div class="card">
            <p id ="title">Titre : {{task.title}}</p>
            <p>Description : {{task.description}}</p>
            <p class="prio">{{ task.priority | titlecase }} priority</p>
        </div>
        <br>
    } @empty {
        <p>Aucune tâche pour le moment...</p>
    }
    
</div>
<br>




